<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pdb.admin.mapper.SystemAdminMapper">
  <resultMap id="BaseResultMap" type="com.pdb.admin.entity.SystemAdmin">
    <id column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="head_pic" jdbcType="VARCHAR" property="headPic" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="login_error_count" jdbcType="INTEGER" property="loginErrorCount" />
    <result column="login_error_time" jdbcType="TIMESTAMP" property="loginErrorTime" />
    <result column="update_pwd_count" jdbcType="INTEGER" property="updatePwdCount" />
    <result column="limit_count" jdbcType="INTEGER" property="limitCount" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    admin_id, admin_name, real_name, mobile, password, head_pic, last_login_time, login_error_count, 
    login_error_time, update_pwd_count, limit_count, status, remark, create_by, create_time, 
    update_by, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_system_admin
    where admin_id = #{adminId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_system_admin
    where admin_id = #{adminId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pdb.admin.entity.SystemAdmin">
    insert into tb_system_admin (admin_id, admin_name, real_name, 
      mobile, password, head_pic, 
      last_login_time, login_error_count, login_error_time, 
      update_pwd_count, limit_count, status, 
      remark, create_by, create_time, 
      update_by, update_time)
    values (#{adminId,jdbcType=INTEGER}, #{adminName,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{headPic,jdbcType=VARCHAR}, 
      #{lastLoginTime,jdbcType=TIMESTAMP}, #{loginErrorCount,jdbcType=INTEGER}, #{loginErrorTime,jdbcType=TIMESTAMP}, 
      #{updatePwdCount,jdbcType=INTEGER}, #{limitCount,jdbcType=INTEGER}, #{status,jdbcType=SMALLINT}, 
      #{remark,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pdb.admin.entity.SystemAdmin">
    insert into tb_system_admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="adminName != null">
        admin_name,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="headPic != null">
        head_pic,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="loginErrorCount != null">
        login_error_count,
      </if>
      <if test="loginErrorTime != null">
        login_error_time,
      </if>
      <if test="updatePwdCount != null">
        update_pwd_count,
      </if>
      <if test="limitCount != null">
        limit_count,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="adminName != null">
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="headPic != null">
        #{headPic,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginErrorCount != null">
        #{loginErrorCount,jdbcType=INTEGER},
      </if>
      <if test="loginErrorTime != null">
        #{loginErrorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePwdCount != null">
        #{updatePwdCount,jdbcType=INTEGER},
      </if>
      <if test="limitCount != null">
        #{limitCount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pdb.admin.entity.SystemAdmin">
    update tb_system_admin
    <set>
      <if test="adminName != null">
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="headPic != null">
        head_pic = #{headPic,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginErrorCount != null">
        login_error_count = #{loginErrorCount,jdbcType=INTEGER},
      </if>
      <if test="loginErrorTime != null">
        login_error_time = #{loginErrorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePwdCount != null">
        update_pwd_count = #{updatePwdCount,jdbcType=INTEGER},
      </if>
      <if test="limitCount != null">
        limit_count = #{limitCount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pdb.admin.entity.SystemAdmin">
    update tb_system_admin
    set admin_name = #{adminName,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      head_pic = #{headPic,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      login_error_count = #{loginErrorCount,jdbcType=INTEGER},
      login_error_time = #{loginErrorTime,jdbcType=TIMESTAMP},
      update_pwd_count = #{updatePwdCount,jdbcType=INTEGER},
      limit_count = #{limitCount,jdbcType=INTEGER},
      status = #{status,jdbcType=SMALLINT},
      remark = #{remark,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>

  <select id="findByAdminName" resultMap="BaseResultMap">
    select * from tb_system_admin where admin_name = #{adminName} or mobile = #{adminName}
  </select>

  <select id="findRoleIdByAdminId" resultType="int">
    select role_id from tb_system_admin_role where admin_id = #{adminId}
  </select>
</mapper>
